@define-color color_back #000000;
@define-color color_primary #63059d;
@define-color color_seconadry #d62ad9;
@define-color color_gray #422e42;
@define-color color_clear_gray #8697a4;
@define-color color_red #ff0000;


/* параметры вообще для всего */
*{
    font-family: "BigBlueTermPlus Nerd Font";
    font-size: 12px;
	background-color: @color_back;
}

/* параметры для окна */
#window {
}

/* параметры для окна с приложениями */
#inner-box {
    margin: 0px;
	padding 0px;
	box-shadow: none;
    border: none;
} 

/* параметры пространства вокруг окна wofi */
#outer-box {
    margin: 0px;
    padding: 0px;
	border: none;
	box-shadow: none;
}

/* параметры для окна ввода */
#input {
    color: @color_clear_gray;
    padding: 0;
    margin: 1 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: @color_back;
}

#input > image.left {
    -gtk-icon-transform:scaleX(0);
}

#input > image.right {
    -gtk-icon-transform:scaleX(0);
}

/* параметры для полосы прокрутки */
/* #scroll {
    background-color: #231f24;
} */

/* параметры для текста */
#text {
    margin-right: 10px;
    margin: 0
    color: @color_clear_gray;
}

/* параметры для выделенного пункта */
#entry:selected {
    color: @color_back;
}

/* параметры выделенного текста */
#text:selected {
    color: @color_primary;
}
