@define-color c_black #111111;
@define-color c_pink #ff4da6;
@define-color c_blue #6363c4;
@define-color c_dblue #343457;
@define-color c_green #3dd3a5;
@define-color c_red #8e1c1c;
@define-color c_orange #9f6f17;

*{
    font-family: "BigBlueTermPlus Nerd Font";
    font-size: 12px;
	background-color: @c_black;
}

#window {
    padding: 0px;
}

#inner-box {
    margin: 0 10px;
	padding: 0px;
	box-shadow: none;
} 

#outer-box {
    margin: 0px;
    padding: 0px;
	box-shadow: none;
    border: 2px solid @c_dblue;
}

#input {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: @c_pink;
}

#input > image.left {
    -gtk-icon-transform:scaleX(0);
}

#input > image.right {
    -gtk-icon-transform:scaleX(0);
}

#text {
    margin: 0;
    color: @c_dblue;
}

#entry {
    border: none;
    margin: 0;
    padding: 5px;
    box-shadow: none;
}

#text:selected {
    color: @c_blue;
}
