@define-color color_back #000000;
@define-color color_primary #63059d;
@define-color color_seconadry #d62ad9;
@define-color color_gray #422e42;
@define-color color_clear_gray #8697a4;
@define-color color_red #ff0000;


/* параметры вообще для всего */
*{
    font-family: "BigBlueTermPlus Nerd Font";
    font-size: 14px;
}

/* параметры для окна */
#window {
    border-bottom: 3px solid @color_primary;
    background-color: @color_back;
}

#outer-box {
    border-bottom: 3px solid @color_primary;
}

/* параметры для окна ввода */
#input {
    /* font-size: 10 px; */
    color: @color_clear_gray;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: @color_back;
}

#input > image.left {
    -gtk-icon-transform:scaleX(0);
}

#input > image.right {
    -gtk-icon-transform:scaleX(0);
}

/* параметры для окна с приложениями */
/* #inner-box {
    background-color: #231f24;
    border-radius: 10px;
    margin: 8px 10px 10px 10px;
    border: 1;
} */

/* параметры пространства вокруг окна wofi */
/* #outer-box {
    margin: 1px;
    padding: 5px;
    background-color: #231f24;
    border-radius: 10px;
} */

/* параметры для полосы прокрутки */
/* #scroll {
    background-color: #231f24;
} */

/* параметры для текста */
#text {
    margin-right: 10px;
    margin: 0
    color: @color_clear_gray;
}

/* параметры для выделенного пункта */
#entry:selected {
    /* background-color: #6e6071; */
    background-color: @color_back;
    color: @color_back;
    /* border: 1px solid #201323; */
}

/* параметры выделенного текста */
#text:selected {
    color: @color_primary;
    font-size: 14px;
}

/* параметры для иконок */
/* #img */

/* параметры для не выделенного */

